/*
*/



/*------------------------------------------------------------------
        1. import files
-------------------------------------------------------------------*/

.clearfix:after,
.widget:after,
.search-form:after,
.post-password-form p:after,
.navigation-single:after {
    content: "";
    display: block;
    clear: both;
}

.ellipsis {
    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.comment-form input[type="text"],
.search-form input[type="text"],
.post-password-form input[type="text"],
.comment-form input[type="tel"],
.search-form input[type="tel"],
.post-password-form input[type="tel"],
.comment-form input[type="email"],
.search-form input[type="email"],
.post-password-form input[type="email"],
.comment-form input[type="search"],
.search-form input[type="search"],
.post-password-form input[type="search"],
.comment-form input[type="password"],
.search-form input[type="password"],
.post-password-form input[type="password"],
.comment-form input[type="url"],
.search-form input[type="url"],
.post-password-form input[type="url"],
.comment-form input[type="date"],
.search-form input[type="date"],
.post-password-form input[type="date"],
.comment-form textarea,
.search-form textarea,
.post-password-form textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #999;
    padding: .5em .7em;
}

.comment-form input[type="text"]:focus,
.search-form input[type="text"]:focus,
.post-password-form input[type="text"]:focus,
.comment-form input[type="tel"]:focus,
.search-form input[type="tel"]:focus,
.post-password-form input[type="tel"]:focus,
.comment-form input[type="email"]:focus,
.search-form input[type="email"]:focus,
.post-password-form input[type="email"]:focus,
.comment-form input[type="search"]:focus,
.search-form input[type="search"]:focus,
.post-password-form input[type="search"]:focus,
.comment-form input[type="password"]:focus,
.search-form input[type="password"]:focus,
.post-password-form input[type="password"]:focus,
.comment-form input[type="url"]:focus,
.search-form input[type="url"]:focus,
.post-password-form input[type="url"]:focus,
.comment-form input[type="date"]:focus,
.search-form input[type="date"]:focus,
.post-password-form input[type="date"]:focus,
.comment-form textarea:focus,
.search-form textarea:focus,
.post-password-form textarea:focus {
    border-color: #333;
}

.comment-form input[type="text"]::-webkit-input-placeholder,
.search-form input[type="text"]::-webkit-input-placeholder,
.post-password-form input[type="text"]::-webkit-input-placeholder,
.comment-form input[type="tel"]::-webkit-input-placeholder,
.search-form input[type="tel"]::-webkit-input-placeholder,
.post-password-form input[type="tel"]::-webkit-input-placeholder,
.comment-form input[type="email"]::-webkit-input-placeholder,
.search-form input[type="email"]::-webkit-input-placeholder,
.post-password-form input[type="email"]::-webkit-input-placeholder,
.comment-form input[type="search"]::-webkit-input-placeholder,
.search-form input[type="search"]::-webkit-input-placeholder,
.post-password-form input[type="search"]::-webkit-input-placeholder,
.comment-form input[type="password"]::-webkit-input-placeholder,
.search-form input[type="password"]::-webkit-input-placeholder,
.post-password-form input[type="password"]::-webkit-input-placeholder,
.comment-form input[type="url"]::-webkit-input-placeholder,
.search-form input[type="url"]::-webkit-input-placeholder,
.post-password-form input[type="url"]::-webkit-input-placeholder,
.comment-form input[type="date"]::-webkit-input-placeholder,
.search-form input[type="date"]::-webkit-input-placeholder,
.post-password-form input[type="date"]::-webkit-input-placeholder,
.comment-form textarea::-webkit-input-placeholder,
.search-form textarea::-webkit-input-placeholder,
.post-password-form textarea::-webkit-input-placeholder {
    color: #ccc;
}

.comment-form input[type="text"]::-moz-placeholder,
.search-form input[type="text"]::-moz-placeholder,
.post-password-form input[type="text"]::-moz-placeholder,
.comment-form input[type="tel"]::-moz-placeholder,
.search-form input[type="tel"]::-moz-placeholder,
.post-password-form input[type="tel"]::-moz-placeholder,
.comment-form input[type="email"]::-moz-placeholder,
.search-form input[type="email"]::-moz-placeholder,
.post-password-form input[type="email"]::-moz-placeholder,
.comment-form input[type="search"]::-moz-placeholder,
.search-form input[type="search"]::-moz-placeholder,
.post-password-form input[type="search"]::-moz-placeholder,
.comment-form input[type="password"]::-moz-placeholder,
.search-form input[type="password"]::-moz-placeholder,
.post-password-form input[type="password"]::-moz-placeholder,
.comment-form input[type="url"]::-moz-placeholder,
.search-form input[type="url"]::-moz-placeholder,
.post-password-form input[type="url"]::-moz-placeholder,
.comment-form input[type="date"]::-moz-placeholder,
.search-form input[type="date"]::-moz-placeholder,
.post-password-form input[type="date"]::-moz-placeholder,
.comment-form textarea::-moz-placeholder,
.search-form textarea::-moz-placeholder,
.post-password-form textarea::-moz-placeholder {
    opacity: 1;
    color: #ccc;
}

.comment-form input[type="text"]:-moz-placeholder,
.search-form input[type="text"]:-moz-placeholder,
.post-password-form input[type="text"]:-moz-placeholder,
.comment-form input[type="tel"]:-moz-placeholder,
.search-form input[type="tel"]:-moz-placeholder,
.post-password-form input[type="tel"]:-moz-placeholder,
.comment-form input[type="email"]:-moz-placeholder,
.search-form input[type="email"]:-moz-placeholder,
.post-password-form input[type="email"]:-moz-placeholder,
.comment-form input[type="search"]:-moz-placeholder,
.search-form input[type="search"]:-moz-placeholder,
.post-password-form input[type="search"]:-moz-placeholder,
.comment-form input[type="password"]:-moz-placeholder,
.search-form input[type="password"]:-moz-placeholder,
.post-password-form input[type="password"]:-moz-placeholder,
.comment-form input[type="url"]:-moz-placeholder,
.search-form input[type="url"]:-moz-placeholder,
.post-password-form input[type="url"]:-moz-placeholder,
.comment-form input[type="date"]:-moz-placeholder,
.search-form input[type="date"]:-moz-placeholder,
.post-password-form input[type="date"]:-moz-placeholder,
.comment-form textarea:-moz-placeholder,
.search-form textarea:-moz-placeholder,
.post-password-form textarea:-moz-placeholder {
    color: #ccc;
}

.comment-form input[type="text"]:-ms-input-placeholder,
.search-form input[type="text"]:-ms-input-placeholder,
.post-password-form input[type="text"]:-ms-input-placeholder,
.comment-form input[type="tel"]:-ms-input-placeholder,
.search-form input[type="tel"]:-ms-input-placeholder,
.post-password-form input[type="tel"]:-ms-input-placeholder,
.comment-form input[type="email"]:-ms-input-placeholder,
.search-form input[type="email"]:-ms-input-placeholder,
.post-password-form input[type="email"]:-ms-input-placeholder,
.comment-form input[type="search"]:-ms-input-placeholder,
.search-form input[type="search"]:-ms-input-placeholder,
.post-password-form input[type="search"]:-ms-input-placeholder,
.comment-form input[type="password"]:-ms-input-placeholder,
.search-form input[type="password"]:-ms-input-placeholder,
.post-password-form input[type="password"]:-ms-input-placeholder,
.comment-form input[type="url"]:-ms-input-placeholder,
.search-form input[type="url"]:-ms-input-placeholder,
.post-password-form input[type="url"]:-ms-input-placeholder,
.comment-form input[type="date"]:-ms-input-placeholder,
.search-form input[type="date"]:-ms-input-placeholder,
.post-password-form input[type="date"]:-ms-input-placeholder,
.comment-form textarea:-ms-input-placeholder,
.search-form textarea:-ms-input-placeholder,
.post-password-form textarea:-ms-input-placeholder {
    color: #ccc;
}

.comment-form input[type="text"].placeholder,
.search-form input[type="text"].placeholder,
.post-password-form input[type="text"].placeholder,
.comment-form input[type="tel"].placeholder,
.search-form input[type="tel"].placeholder,
.post-password-form input[type="tel"].placeholder,
.comment-form input[type="email"].placeholder,
.search-form input[type="email"].placeholder,
.post-password-form input[type="email"].placeholder,
.comment-form input[type="search"].placeholder,
.search-form input[type="search"].placeholder,
.post-password-form input[type="search"].placeholder,
.comment-form input[type="password"].placeholder,
.search-form input[type="password"].placeholder,
.post-password-form input[type="password"].placeholder,
.comment-form input[type="url"].placeholder,
.search-form input[type="url"].placeholder,
.post-password-form input[type="url"].placeholder,
.comment-form input[type="date"].placeholder,
.search-form input[type="date"].placeholder,
.post-password-form input[type="date"].placeholder,
.comment-form textarea.placeholder,
.search-form textarea.placeholder,
.post-password-form textarea.placeholder {
    color: #ccc;
}

.widget {
    margin-bottom: 1.2em;
}

.widget ul {
    padding-left: 2em;
}

.widget select {
    min-width: 150px;
}


.gallery-item dt {
    float: none;
    padding: 0;
}

.navigation,
.navigation-comments {
    position: relative;
    vertical-align: middle;
    margin-bottom: 1.2em;
}

.navigation .screen-reader-text,
.navigation-comments .screen-reader-text {
    position: absolute;
    left: -99999px;
}

.navigation .page-numbers,
.navigation-comments .page-numbers {
    display: inline-block;
    vertical-align: middle;
    padding: 0 .4em;
}

.navigation .next,
.navigation .prev,
.navigation-comments .next,
.navigation-comments .prev {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    background: #666;
    color: #fff;
    padding: .4em;
    text-decoration: none;
}

.navigation-single {
    margin-bottom: 1.2em;
}

.navigation-single .next,
.navigation-single .prev {
    float: left;
    vertical-align: middle;
    max-width: 50%;
    background: #666;
    color: #fff;
    text-decoration: none;
}

.navigation-single .next a,
.navigation-single .prev a {
    color: inherit;
    text-decoration: none;
    padding: .4em;
    display: block;
}

.navigation-single .next {
    float: right;
}

.wp-caption {
    max-width: 100%;
    clear: both;
    border: 1px solid #ccc;
    padding: .4em;
    margin-bottom: 1.2em;
}

.wp-caption img {
    margin: 0;
    vertical-align: top;
}

.wp-caption p {
    margin: .4em 0 0;
}

div.aligncenter {
    margin: 0 auto 1.2em;
}

img.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
    margin: 0 1.2em 4px 0;
}

.alignright {
    float: right;
    margin: 0 0 4px 1.2em;
}

.mejs-container {
    margin-bottom: 1.2em;
}

.wp-caption-text,
.gallery,
.alignnone,
.gallery-caption,
.sticky,
.bypostauthor {
    height: auto;
}

/*------------------------------------------------------------------
        2. Global style classes
-------------------------------------------------------------------*/

.dark-bg {
    background-color: #111;
}

.grey-bg {
    background-color: #f9f9f9;
}

.grey-bg2 {
    background-color: #f8f8f8;
}

.dark-bg2 {
    background-color: #1b1c1f;
}

.bg-img-full {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img-parallax {
    background-attachment: fixed;
}

.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .9;
    position: absolute;
    pointer-events: none;
    background-color: #272c3e;
}

.section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mar-top-xs {
    margin-top: 30px !important;
}

.mar-top-sm {
    margin-top: 55px !important;
}

.mar-top-md {
    margin-top: 75px !important;
}

.pad-top-xs {
    padding-top: 30px !important;
}

.pad-top-sm {
    padding-top: 55px !important;
}

.pad-top-md {
    padding-top: 75px !important;
}

.mar-top-lg {
    margin-top: 100px !important;
}

.pad-top-lg {
    padding-top: 100px !important;
}

.mar-bottom-xs {
    margin-bottom: 30px !important;
}

.mar-bottom-sm {
    margin-bottom: 55px !important;
}

.mar-bottom-md {
    margin-bottom: 75px !important;
}

.pad-bottom-sm {
    padding-bottom: 55px !important;
}

.pad-bottom-xs {
    padding-bottom: 30px !important;
}

.pad-bottom-md {
    padding-bottom: 75px !important;
}

.mar-bottom-lg {
    margin-bottom: 100px !important;
}

.pad-bottom-lg {
    padding-bottom: 100px !important;
}

.visible-xs {
    display: none !important;
}

.btn-default {
    border: 0;
    color: #fff;

    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    background-color:#333;
    border:1px solid #333;
    font-family: 'Montserrat', sans-serif;
}

.btn-default:focus,
.btn-default:active,
.btn-default:hover {
    color: #fff;
    background-color: #111 !important;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}



body.boxed-v #wrapper {
    max-width: 80%;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
}

/*------------------------------------------------------------------
        3. main headinig styles / .main-heading
-------------------------------------------------------------------*/

.main-heading {
    color: #777;
    line-height: 24px;
}

.main-heading .subheading {
    display: block;
    margin: 0 0 6px;
    font-weight: 700;
    line-height: 29px;
}

.main-heading .heading {
    color: #272c3e;
    margin: 0 0 21px;
    font: 700 38px/40px 'Montserrat', sans-serif;
}

.main-heading p {
    margin: 0;
}

/*------------------------------------------------------------------
        4. main wrapper styles / #wrapper
-------------------------------------------------------------------*/

#wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*------------------------------------------------------------------
        5. header of the page styles / #header
-------------------------------------------------------------------*/

#header {
    z-index: 4;
    position: relative;
}

#header .holder {
    padding: 10px 0 10px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    background: transparent;
    /*background: #252021;*/
    /*border-bottom: 1px solid #6d717d;*/
    border-bottom: none;
}

#header.nospace .holder {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#header.sticky .holder {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 10px 0;
    background: #252021;
}

#header.sticky .holder .logo {
    margin: 0;
}

#header .nav-opener {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    border: 1px solid rgba(255, 255, 255, .5);
}

/*------------------------------------------------------------------
        6. logo of the page styles / .logo
-------------------------------------------------------------------*/

.logo {
    color: #fff;
    min-width: 60px;
    overflow: hidden;
    margin: -10px 0 -19px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    font: 700 37px/60px 'Montserrat', sans-serif;
}

.logo a {
    color: #fff;
}

.logo a:hover {
    text-decoration: none;
}

/*------------------------------------------------------------------
        7. navigation of the page styles / #nav
-------------------------------------------------------------------*/

#nav {
    font-weight: 600;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    font-family: 'Montserrat', sans-serif;
}

#nav .nav-list {
    margin: 0;
    float: left;
    width: 43.2%;
}

#nav .nav-list li {
    padding: 0 4.7%;
    vertical-align: middle;
    line-height: 37px;
}

#nav .nav-list a {
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    font-family: arial;
    font-weight: normal;
}

#nav .nav-list a img {
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    margin: 0;
    border-color: white;
    width: 40px;
    height:40px;
}

#nav .nav-list + .nav-list {
    float: right;
}

.mt-social {
    margin: 0;
    font-size: 16px;
}

.mt-social li {
    padding: 0 0 0 5%;
}

.mt-social a {
    opacity: .3;
    color: #fff;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.mt-social a:hover {
    opacity: 1;
}

#main {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/*------------------------------------------------------------------
        8. main banner of the page styles / .main-banner
-------------------------------------------------------------------*/

.main-banner {
    z-index: 1;
    color: #fff;
    padding: 80px 0 60px 0;
    overflow: hidden;
    line-height: 24px;
    position: relative;
}

.main-banner .overlay {
    z-index: -1;
}

.main-banner .title {
    color: #5f5f5f;
    display: block;
    margin: 0 0 4px;
}

.main-banner .heading {
    color: #fff;
    margin: 0 0 26px;
    font: 700 60px/80px 'Montserrat', sans-serif;
}

.main-banner .divider {
    width: 85px;
    height: 4px;
    display: block;
    margin: 0 auto 26px;
}

.main-banner p {
    margin: 0 0 36px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.main-banner .btn {
    font-size: 12px;
    margin: 0 0 30px;
    padding: 18px 35px;
}

.main-banner .icons {
    margin: 0;
    font-size: 30px;
}

.main-banner .icons a {
    color: #fff;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

.main-banner .icons li {
    padding: 0 10px;
}

/*------------------------------------------------------------------
        9. main slider of the page styles / .main-slider
-------------------------------------------------------------------*/

.main-slider .slick-arrow {
    top: 50%;
    border: 0;
    padding: 0;
    z-index: 2;
    width: 15px;
    opacity: .2;
    font-size: 0;
    height: 15px;
    line-height: 0;
    position: absolute;
    background: transparent;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    border: solid #fff;
    border-width: 3px 3px 0 0;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.main-slider .slick-arrow:hover {
    opacity: 1;
}

.main-slider .slick-prev {
    left: 55px;
    -webkit-transform: translateY(-50%) rotate(-135deg);
    -ms-transform: translateY(-50%) rotate(-135deg);
    transform: translateY(-50%) rotate(-135deg);
}

.main-slider .slick-next {
    right: 55px;
}

.main-slider .slick-dots {
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    bottom: 40px;
    text-align: center;
    position: absolute;
}

.main-slider .slick-dots li {
    padding: 0 3px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.main-slider .slick-dots li.slick-active button {
    opacity: 1;
}

.main-slider .slick-dots button {
    border: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    opacity: .2;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    background: #d8d9d9;
    text-indent: -9999px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

/*------------------------------------------------------------------
        12. steps box of the page styles / .steps-box
-------------------------------------------------------------------*/

.steps-box {
    padding: 0;
    line-height: 22px;
    position: relative;
    width: 100%;
    float: left;
}

    .steps-box:hover .border {
        width: 70%;
    }

    .steps-box .block {
        color: #999999;
        font-size: 14px;
        line-height: 140%;
        opacity: 0;
        display: block;
        padding-top: 10px;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .steps-box:hover .block {
        opacity: 1;
    }

    .steps-box .content {
        width: 100%;
        float: left;
        padding: 0 5%;
        margin-top: 40px;
    }

.steps-box .grey-bg {
    width: 100%;
    float: left;
    margin-top: 20px;
    padding: 10px 5%;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
}

.steps-box .grey-bg span {
    color: #ef4136;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
}

.steps-box .content .badge {
    border: 1px solid #ef4136;
    padding: 2px 5px;
    border-radius: 5px;
    color: #ef4136;
    font-size: 12px;
    float: right;
}

    .steps-box .icon-box {
        width: 80px;
        height: 80px;
        font-size: 36px;
        border-radius: 50%;
        line-height: 100px;
        background: #ef4136;
        margin: 7px auto 30px;
        border: 1px solid #e8e8eb;
        box-shadow: none;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -20%;
    }

    .steps-box:hover .icon-box {
        background: #333;
    }

    .steps-box .icon-box img {
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        padding-top: 15px;
        width: 50%;
    }

.steps-box .heading {
    color: #222;
    margin: 0 0 21px;
    font: 700 18px/25px 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.steps-box .border {
    width: 40px;
    height: 1px;
    display: block;
    margin: 0 auto 12px;
}

.steps-box .bar {
    top: 57px;
    height: 1px;
    width: 180px;
    right: -90px;
    position: absolute;
    background: #e8e8e8;
}
@media (min-width: 768px) 
{
    .steps-box:hover .border 
    {
        width: 70%;
    }
    .steps-box:hover .block 
    {
        opacity: 1;
    }
    .steps-box:hover .icon-box 
    {
        background: #333;
    }
}
@media (max-width: 767px) 
{
    .steps-box .block
    {
        display:none
    }
    .steps-box.text-center.mar-bottom-md.pad-top-xs
    {
        margin-bottom: 45px !important;
    }
    .steps-box .heading 
    {
        font: 700 16px/25px 'Montserrat', sans-serif;
    }
}
.screens {
    overflow: hidden;
    max-height: 500px;
}

/*------------------------------------------------------------------
        13. test section of the page styles / .test-section
-------------------------------------------------------------------*/

.test-section {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.test-section img {
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    margin: 0 auto 25px;
    border-color: white;
    width: 100px;
    height: 100px;
}

.test-section a {
    color: white;
}


.test-section .slider {
    margin: 0 auto;
    max-width: 800px;
}

.test-section .slider .slick-arrow {
}

.test-section .name {
    display: block;
    margin: 0 0 13px;
    font-size: 12px;
    font-weight: 600;
}

.test-section p {
    margin: 0 0 13px;
    font-size: 16px;
    line-height: 25px;
}
/*------------------------------------------------------------------
        18. footer of the page styles / #footer
-------------------------------------------------------------------*/

#footer {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    font-weight: 600;
    line-height: 21px;
    position: relative;
}

#footer hr {
    margin-top: 23px;
    margin-bottom: 23px;
    border: 0;
    border-top: 1px solid #999;
}

#footer p {
    margin: 0;
}

#footer a {
    color: #999;
}

#footer a:hover {
    color: #ef4136;
}

#back-top {
    bottom: 0;
    opacity: 0;
    z-index: 9;
    right: 20px;
    width: 50px;
    color: #fff;
    height: 50px;
    z-index: 9999;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    line-height: 47px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -ms-transform: translateY(40px);
    -webkit-transition: all .6s ease;
    -webkit-transform: translateY(40px);
}

#back-top.show {
    opacity: 1;
    transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}

#back-top:hover {
    opacity: .9;
}

#particles-js,
#bgvid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 930px;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

#bgvid {
    z-index: -11;
}

#bgvid .vegas-slide {
    height: 100%;
}

.loader-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    position: fixed;
    background: #fff;
}

.loader-container .holder {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader-container .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@media (min-width: 768px) {
    .commentlist-item .commentlist-item {
        padding: 0 0 0 2em;
    }
}

@media (max-width: 767px) {
    .navigation .page-numbers,
    .navigation-comments .page-numbers {
        padding: 0;
    }

    .navigation .next,
    .navigation .prev,
    .navigation-comments .next,
    .navigation-comments .prev {
        padding: .2em;
    }

    .navigation-single .next a,
    .navigation-single .prev a {
        padding: .2em;
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


.stylish-input-group {
    display: table;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    border-bottom: 1px solid #ef4136;
    width: 40%;
}

.stylish-input-group .input-group-addon {
    background: transparent !important;
    display: table-cell;
    border: 0;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border: 0;
    color: white;
    background: transparent;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
    border: 0;
}

.stylish-input-group .fa.fa-search {
    color: #ef4136;
}


@media (max-width: 767px) {
    .main-banner {
        padding: 120px 0 80px 0;
    }

    .main-banner p {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .main-banner .heading {
        font-size: 30px;
        line-height: 30px;
    }

    .main-banner {
        padding: 180px 0 80px 0;
    }

    .main-banner p {
        font-size: 20px;
    }

    .stylish-input-group {
        width: 90%;
    }
}

#header ul.nav-list.list-inline.text-center {
    /*display: none;*/
}
#header.sticky ul.nav-list.list-inline.text-center {
    display: block;
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

#process-step .tab-content > .active {
    display: block;
    visibility: visible;
}

#process-step .fade.in {
    opacity: 1;
}

#process-step.btn:focus {
    outline: none;
}

#process-step .process {
    display: table;
    width: 100%;
    position: relative;
}

#process-step .process-row {
    display: table-row;
}

#process-step .process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

#process-step .process-row:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

#process-step .process-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

#process-step .process-step p {
    margin-top: 4px;
}

#process-step .btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    padding:0;
}
#process-step .btn-default.btn-circle {
    background-color:#ef4136;
    border-color: #ef4136;
}
#process-step .btn-info.btn-circle:hover,
#process-step .btn-info.btn-circle
{
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    color: #fff;
    background-color: #333;
    border-color: #333;
}
#process-step .btn-info {
    color: #fff;
    background-color: #333;
    border-color: #333;
}
#process-step .thumbnail img{
    min-height:200px;
}

#process-step .caption p.text-justify{
    min-height:100px;
}

#calender-outer .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    text-align:center;
    position:relative

}
.thumbnail .overlay{
        width: 242px;
    margin-left: 20px;
    height: 204px;
    color: red;
    font-size: 24px;
    padding-top: 30%;
    font-weight: bold;
}
.thumbnail .caption { padding:0 15px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.text-default {
    color:#333;
}
.product {
    margin-top: 15px;
    width:100%;
    border:1px solid #e5e5e5;
    padding:15px;
    border-radius:5px;
}

.product-left{
    padding-right: 10px;
    float:left
}
.product-body, .product-left{
    display: table-cell;
    vertical-align: top;
}
h4.badge {
    color: #ef4136;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    line-height: 40px;
    margin: 0;
    float:left;
    margin-bottom:10px;
}

.text-right {
    text-align:right
}
.to_do li {
    list-style-type:none;
    
}
ul.to_do{padding:0}
ul.to_do li{background:#f3f3f3;border-radius:3px;position:relative;padding:7px;margin-bottom:5px;list-style:none}
ul.to_do p{margin:0}

.error{
    color: #ff0000;
}


#carousel-example-generic {
    margin: 20px auto;
    width: 100%;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
}

       #carousel-custom  .carousel-inner > .item {
           position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
        }
       #carousel-custom .carousel-inner>.active{
    display: block;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 66px;
  width: 52px;}
